root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
max_line_length = 100
ktlint_code_style = ktlint_official
ktlint_standard_function-signature = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_string-template-indent = disabled
ij_kotlin_packages_to_use_import_on_demand = java.awt.*,javax.swing.*

[*.md]
trim_trailing_whitespace = false
